/*----- General -----*/

.page-title {
  text-decoration: underline;
}

.btn .fa {
  margin-right: 0.5rem;
}

.scan-button, .text-input {
  margin-bottom: 0.5rem;
}

hr {
  border-top-width: 3px;
}

.dataTables_filter {
  display: none; 
}

#confirm-button {
  margin-bottom: 2rem;
}

/*----- Home Page -----*/
.menu-button {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.menu-icon {
  margin-right: 0.5rem;
}

/*----- Add/Remove Single -----*/

#show-map-button, #hide-map-button {
  margin-bottom: 0.5rem;
}

#hide-map-button, #part-map {
  display: none;
}

/*----- Add/Remove Multiple -----*/

.sub-title {
  text-align: center;
  text-decoration: underline;
}

.remove-icon {
  color: red;
  cursor: pointer;
}

#obsolete-warning, #insufficient-warning {
  display: none;
}

/*----- Inventory Page -----*/

.part-information {
  text-align: left;
  display: none;
}

.part-info-stock {
  float: right;
}

#part-price {
  color: #008000;
}

/*----- Map ----*/

.map {
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56.25%;
  position: relative;
  width: 80%;
}

#map-placeholder {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
}

.bay-title {
  text-align: center;
  text-decoration: underline;
}

.shelf-title, .bin-title {
  text-align: left;
}

/*----- Scanning -----*/
#interactive.viewport {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: none;
}
#exit-camera-button {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: 10;
}
#upload-viewport {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
}
#interactive.viewport > canvas, #interactive.viewport > video,
#upload-viewport > canvas, #upload-viewport > video {
  max-width: 100%;
  width: 100%;
}
canvas.drawing, canvas.drawingBuffer, canvas.imgBuffer {
  position: absolute;
  left: 0;
  top: 0;
}